<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Storage CRUD Prototype
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list #myList>
  <ion-list-header>
    <ion-header>My Items</ion-header>
  </ion-list-header>

  <ion-item-sliding *ngFor="let item of items">

    <ion-item>
      <ion-label text-wrap>
        <h3>{{ item.type }}</h3>
        <ion-text color: secondary>
          <p>{{ item.value }}</p>
        <!-- </ion-text> -->
        <p>{{ item.modified | date:'short'}}</p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
      <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>

</ion-content>
